@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 400;
  color: $dark-navy;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 10.3125rem;
}

.img-border-50 {
  border-radius: 50%;
}

a {
  color: $dark-navy;
  text-decoration: none;
}

a:hover,
a:visited {
  text-decoration: none;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.15625rem;
  font-weight: 700;
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.13375rem;
  font-weight: 400;
}

h3 {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.111875rem;
  font-weight: 400;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.066875rem;
  font-weight: 400;
}

.button {
  padding: 1rem 4rem;
  background: $yellow;
  color: white;
  display: inline-block;
  border: 2px solid $yellow;

  &:hover {
    background: transparent;
    border: 2px solid $yellow;
    color: $yellow;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.display {
  position: relative;
  overflow-x: hidden;
  margin: 4rem 0;

  &__text {
    h3 {
      font-weight: 500;
      padding: 0.5rem;
    }
    p {
      width: 70%;
      margin: 4rem 0 3rem;
      color: $dim-grey;
    }
  }

  &__text-2 {
    p {
      margin-left: auto;
    }
    h3,
    a {
      margin-left: 30%;
    }
  }

  &__circle-bg {
    position: absolute;
    right: -25%;
    top: 0;
  }

  &__circle-bg-2 {
    position: absolute;
    left: -25%;
    top: 0;
  }
}

.display2 {
  text-align: center;
  margin: 5rem 0;

  &__col {
    padding: 0 1.25rem;
    position: relative;
    h4 {
      margin: 6rem 0 2rem;
      font-weight: 500;
    }

    p {
      color: $dim-grey;
    }

    .h4-border-circle {
      position: absolute;
      padding: 2.25rem;
      background: $yellow;
      border-radius: 50%;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  }
}

@media (max-width: 991.98px) {
  /* Globals */
  .container {
    max-width: 45rem;
    padding: 0 2.5rem;
  }

  .flex {
    flex-wrap: wrap;

    &-col-md-r {
      flex-direction: column-reverse;
    }
  }

  .button {
    padding: 1rem 3rem;
  }

  .display {
    margin: 7.5rem 0;
    &__text {
      text-align: center;
      p {
        margin: 0 auto;
        margin-bottom: 2.5rem;
      }
      h3 {
        margin: 4rem 0;
      }
    }

    &__text-2 {
      p {
        margin: 0 auto;
        margin-bottom: 2.5rem;
      }
      h3,
      a {
        margin-left: unset;
      }
    }

    &__circle-bg {
      right: -50% !important;
    }

    &__circle-bg-2 {
      left: -50% !important;
    }
  }

  .display2 {
    &__col {
      margin: 2.75rem 0;

      p {
        padding: 0 7.25rem;
      }
    }
  }

  /* end globals */
}

@media (max-width: 575.98px) {
  /*  globals */
  .container {
    max-width: 100% !important;
    padding: 0 2rem !important;
  }

  h3 {
    font-size: 1.5rem;
  }

  .img-fluid {
    max-width: 100% !important;
  }

  .display {
    &__circle-bg {
      display: none;
    }

    &__circle-bg-2 {
      display: none;
    }

    &__text {
      h3 {
        margin: 3.5rem 0;
      }
      p {
        width: 100%;
      }
    }
  }

  .display2 {
    &__col {
      padding: 0;
      h4 {
        margin: 4.5rem 0 2rem;
        font-weight: 500;
      }

      p {
        padding: 0;
      }

      .h4-border-circle {
        top: 40%;
      }
    }
  }
}
