.header {
  padding: 1.5rem 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 90%;

    &__links {
      margin-right: auto;

      > a {
        margin-left: 3.5rem;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 991.98px) {
  /* Header Section */
  .header {
    padding: 1.25rem 0;

    &__menu {
      > a {
        padding-left: 2.25rem !important;
      }
    }
  }
  /* end Header Section */
}

@media (max-width: 575.98px) {
  /* Header Section */
  .header {
    position: relative;
    nav {
      justify-content: center !important;
    }

    &__menu {
      position: absolute;
      width: 70% !important;
      height: 80vh !important;
      flex-direction: column !important;
      top: 100%;
      left: 0;
      padding: 1.5rem 0 !important;
      background: $dark-navy;
      z-index: 900;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: all 0.5s;
      pointer-events: none;

      &__links {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        > a {
          color: white;
          margin-top: 2rem;
          margin-left: 0 !important;
        }
      }

      &__open {
        pointer-events: all;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__burger {
      position: absolute;
      display: block !important;
      left: 2rem;
      cursor: pointer;

      > span {
        width: 20px;
        height: 5px;
        background: $yellow;
        display: block;
        transition: all 300ms;

        &:nth-child(1) {
          transition-delay: 300ms;
        }

        &:nth-child(2) {
          margin: 3px 0;
        }
        &:nth-child(3) {
          transition-delay: 300ms;
        }
      }

      &__open {
        > span {
          &:nth-child(1) {
            transform: rotate(45deg) translateX(7px);
          }

          &:nth-child(2) {
            margin: 0;
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translateX(7px);
          }
        }
      }
    }
  }
  /* End Header Section */
}
